<header>
  <div class="container header-container">
  <nav>
      <a class="header-jefferson-logo" href="./index.html">LloydJefferson.</a>
      <label>
  <input type="checkbox" id="switch">
      </label>
 
         <ul>
            <li><a class="header-nav-menu-list" href="">About me</a></li>
            <li><a class="header-nav-menu-list" href="">Projects</a></li>
            <li><a class="header-nav-menu-list" href="">Contacts</a></li>
         </ul>
  </nav>












</div>
</header>




